

:root {
  --black: #000000;
  --dark-gray: #303030;
  --white: #dddddd;
}

* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 20px;
  box-sizing: border-box;
  color: var(--white);
}



body {
  background-color: var(--black);
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  flex: 1;
  position: relative;
}

aside {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: var(--dark-gray);
}

aside>div {
  flex: 1;
  padding: 24px;
  border-top: 2px var(--black) solid;
  border-bottom: 2px var(--black) solid;
}

input {
  background-color: var(--black);
  border: 1px var(--white) solid;
  width: 100%;
}

button {
  background-color: var(--black);
  border: 1px var(--white) solid;
}



#edge-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#node-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.node {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 2px var(--white) solid;
  background-color: var(--dark-gray);
  border-radius: 50%;
  font-size: 1.4rem;
  font-family: monospace;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}