
* {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --dark-gray: #222222;
  --white: #dddddd;
}

body {
  background-color: var(--black);
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#nodesDiv {
  flex: 1;
  position: relative;
}

aside {
  width: 320px;
  background-color: var(--dark-gray);
}

.node {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 2px var(--white) solid;
  background-color: var(--dark-gray);
  border-radius: 50%;
  color: var(--white);
  font-size: 1.4rem;
  font-family: monospace;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}